<!-- component -->
 <script src="https://cdn.tailwindcss.com/"></script>
<section class="bg-slate-500">
       <div
            class="max-w-lg bg-slate-500 px-4 pt-24 py-8 mx-auto text-left md:max-w-none md:text-center"
          >
            <h1
              class="text-3xl font-extrabold leading-10 tracking-tight text-left text-white text-center sm:leading-none md:text-6xl text-4xl lg:text-7xl"
            >
              <span class="inline md:block">Make your life easier</span>
              <span
                class=" mt-2 bg-clip-text text-transparent bg-gradient-to-r from-purple-400 via-emerald-400 to-green-500 md:inline-block"
              >Just start<span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-500 via-cyon-400 to-purple-300"> noting!</span> </span>
            </h1>
            <div>
            <br>
              <%= button_to "Sign in", new_user_session_path, class: "rounded-xl ml-8 bg-yellow-500 text-black px-4 py-2" %>
            </div>
          </div>
  </section>
  
<hr class="text-white mx-5" />
  <footer class="bg-slate-900 pb-5">
  <div class="max-w-screen-xl px-4 pt-8 mx-auto sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex justify-center text-teal-300 sm:justify-start">
      </div>
    </div>
  </div>
</footer>